<h2>VII. Лист «Затраты (часть 2)»</h2>
<h3>1.	Колонки «№», «Марка, модель ТС по техпаспорту», «Гос. Номер» и «Инвентарный номер»
</h3>
<p>Информация в эти колонки автоматически скопируется из предыдущего листа.
</p>
<h3>2.	Колонки: «Услуги связи», «Автомойка, дезинфекция», «КАСКО/ ОСАГО», «Техосмотр/ постановка на учет», «Амортизация транспортных средств», «Транспортный налог», «Инвентарь, материалы для транспорта», «Лизинг, погашение кредита»
</h3>
<p>Введите расходы на соответствующие статьи затрат за отчетный месяц 2023 г. в рублях РФ без учета НДС. Введение данных нарастающим итогом категорически запрещено.
</p>
<h3>3.	Колонка «Примечания»</h3>
<p>Информация о том, что автомобиль в лизинге, сдан или получен в аренду
  в данную колонку не заносится! Для этого есть в соответствующие колонки листа «Аренда».
</p>
<p>В колонке «Примечания» необходимо указать:</p>
<ol>
  <li>Должность и Фамилию И.О. сотрудника, за которым закреплено данное транспортное средство, если такое закрепление существует;
  </li>
  <li>Основной маршрут движения данного транспортного средства, если оно используется на данном маршруте большую часть рабочего времени;
  </li>
  <li>В неисправном состоянии (требует капитального ремонта, подлежит замене, подлежит списанию, подлежит продаже). Запись «не эксплуатируется» допустима только с указанием причины, из-за которой транспортное средство не используется;
  </li>
  <li>Планируется к сдаче в аренду с указанием, кому именно;
  </li>
  <li>В резерве для таких-то целей;</li>
  <li>Для прицепных средств и агрегатов, работающих в постоянной сцепке
    с определенным автомобилем или трактором, указать: работает в сцепке (агрегатирован) с тягачом А001ВВ31 (трактором 31ЕТ4236);
  </li>
</ol>
<p>В случае, если по завершению заполнения ячейки в данной колонке введенный текст виден не полностью, запрещается уменьшать шрифт и(или) увеличивать высоту срок и ширину колонки. Для проверки или редактирования внесенной информации достаточно кликнуть по нужной ячейке левой кнопкой мышки. Вся информация будет видна выше заголовков колонок в «Строке формул».
</p>
<h3>4.	Колонка «Дата постановки на учет»</h3>
<p>Укажите дату постановки транспортного средства на учет в формате ДД.ММ.ГГГГ.
</p>
<ol>
  <li>Для собственных транспортных средств, имеющих свидетельство
    о регистрации транспортного средства или свидетельство о регистрации самоходной машины, это дата регистрации транспортного средства
    в ГИБДД или Ростехнадзоре от лица Вашего предприятия;
  </li>
  <li>Для транспортных средств, арендуемых у лизинговых компаний, предприятий ГК «Агро-Белогорье», прочих предприятий и физических лиц, это дата заключения договора аренды;
  </li>
  <li>Для остальных транспортных средств это дата постановки на бухгалтерский учет Вашего предприятия;
  </li>
</ol>
<h3>5.	Колонка «Дата снятия с учета»	</h3>
<p>Укажите дату снятия транспортного средства с учета в формате ДД.ММ.ГГГ
</p>
<h3>6.	Колонка «Причина снятия с учета»</h3>
<p>Выберете из раскрывающегося списка причину снятия транспортного средства с учета.</p>
<h3>7.	Колонка «Стоимость приобретения»</h3>
<p>Укажите стоимость приобретения транспортного средства согласно данным бухгалтерского учета (без учета НДС). Для транспортных средств, эксплуатируемых по договору лизинга, укажите полную стоимость
  по договору лизинга (без учета НДС).
</p>
<div class="danger">
  <p>Листы «Не изменять 1» и «Не изменять 2» содержат служебную информацию и вносить в них изменения категорически запрещено!
  </p>
</div>
