<h2>IV. Лист «Двигатель»</h2>
<h3>1.	Колонки: «№», «Марка, модель ТС по техпаспорту», «Гос. Номер» и «Инвентарный номер»
</h3>
<p>Информация в эти колонки автоматически скопируется из предыдущего листа.
</p>

<h3>2.	Колонка «Модель двигателя»</h3>
<p>Скопируйте без каких-либо изменений данную информацию из ПТС или СТС.
  В случае, если после указания модели двигателя в ПТС после символа «запятая» дополнительно указан серийный номер двигателя, то в Форму УТС заноситься только информация слева от символа «запятая».
</p>
<h3>3.	Колонки «Мощность двигателя в л.с.» и «Мощность двигателя
  в кВт»
</h3>
<p>Скопируйте данную информацию из ПТС или СТС. Обратите внимание, что
  в ПТС и СТС может быть различный порядок указания мощности двигателя. Если в ПТС или СТС мощность двигателя указана с точностью до десятых долей л.с. (кВт), то используйте для отделения десятых долей не точку,
  а запятую.
</p>
<div class="example">
  <div class="example-bad">
    <p>НЕЛЬЗЯ!</p>
    <p class="table-cell">143.5</p>
  </div>
  <div class="example-good">
    <p>НУЖНО!</p>
    <p class="table-cell" style="text-align: right">143,5</p>
  </div>
</div>
<h3>4.	Колонка «Рабочий объем двигателя, куб.см.»
</h3>
<p>Скопируйте данную информацию из ПТС или СТС
</p>
<h3>5.	Колонка «Количество цилиндров (цифрой)»
</h3>
<p>Укажите количество цилиндров двигателя в цифровом формате, например: 4
</p>
<h3>6.	Колонка «Тип двигателя (дизельный, бензиновый и т.д.)»
</h3>
<p>Выберите необходимое значение из раскрывающегося списка.
</p>
<h3>7.	Колонка «Экологический класс»</h3>
<p>Выберите необходимое значение из раскрывающегося списка, в соответствии с данными, указанными в ПТС.
</p>
<h3>8.	Колонки: «Расход топлива летний л/100 км», «Расход топлива зимний л/100 км», «Расход топлива летний л/моточас», «Расход топлива зимний л/моточас».
</h3>
<p>Укажите действующие нормы расходы топлива для данного транспортного средства, утвержденные руководителем Вашего предприятия.
</p>
<h3>9.	Колонки «Вид топлива, расходуемого дополнительным оборудованием, и единица измерения» и «Расход топлива дополнительным оборудованием»
</h3>
<p>Если данное транспортное средство относиться к спецтехнике или имеет дополнительные двигатели, например для рефрижераторной установки или комбикормовоза, то укажите соответствующие нормы расходы топлива для данного транспортного средства, утвержденные руководителем Вашего предприятия.
</p>
<p>Например:</p>
<table>
  <tr>
    <td>АИ92 л/час</td>
    <td>9,2</td>
  </tr>
  <tr>
    <td>АИ95 л/смена</td>
    <td>33,5</td>
  </tr>
  <tr>
    <td>ДТ л/м.куб.</td>
    <td>4,3</td>
  </tr>
</table>
<h3>10.	 Колонка «Разрешенная максимальная масса, кг»
</h3>
<p>Скопируйте данную информацию из ПТС или СТС. </p>
