<h2>I.	Лист «Для подписания».</h2>
<p>
  Данный лист служит для визирования достоверности данных, внесенных
  в Форму УТС, руководителем Вашего предприятия и лицом ответственным
  за ее заполнение.
</p>
<p>После заполнения данных на остальных листах Формы УТС, суммарные значения по соответствующим колонкам автоматически отразятся на листе <b>«Для подписания»</b>.
</p>
<p>Вам нужно изменить на листе «Для подписания» только следующие записи:
</p>
<ol>
  <li>
    1.	В ячейке D:3 указать наименование отчетного месяца в именительном падеже.
  </li>
  <li>
    2.	В ячейках А:46 и G:46 указать должность и Фамилию И.О. руководителя Вашего предприятия.
  </li>
  <li>
    3.	В ячейках А:48 и G:48 указать свою должность и Фамилию И.О.
  </li>
</ol>
<p>
  Перед отправкой электронной версии Формы УТС в транспортное управление, распечатайте лист «Для подписания», завизируйте его своей подписью и подписью руководителя Вашего предприятия. После этого, отправьте отсканированную копию данного листа в транспортное управление в одном сообщении с электронной версией Формы УТС.
</p>
<p>
  Адрес для отправки Формы УТС в транспортное управление: <b>yushinov@agrobel.ru</b>
</p>
<p>
  Формы УТС, отправленные на любые другие электронные адреса, в том числе на  <b>dirtrans@agrobel.ru</b> к рассмотрению не принимаются.
</p>


