<h2>III. Лист «Аренда»</h2>
<h3>1.	Колонки: «№», «Марка, модель ТС по техпаспорту», «Гос. Номер» и «Инвентарный номер»
</h3>
<p>Информация в эти колонки автоматически скопируется из предыдущего листа.
</p>
<h3>2.	Колонка «Собственность, лизинг, аренда, сдача в аренду»
</h3>
<p>Выберите необходимое значение из раскрывающегося списка.
</p>
<h3>3.	Колонка «В случае сдачи в аренду - наименование арендатора».
</h3>
<p>Выберите необходимое значение из раскрывающегося списка. Если
  в раскрывающемся списке нет наименования арендатора, то выбирайте значение «Стороннее предприятие», а в колонке «Примечания» на листе «Затраты (часть 2)» укажите: «Сдан в аренду тому-то».
</p>
<p>Например:</p>
<ol>
  <li>Сдан в аренду Колос, ООО</li>
  <li>Сдан в аренду ИП Иванов И.И.</li>
  <li>Сдан в аренду Петрову П.П.</li>
</ol>
<h3>4.	Колонка «В случае аренды - наименование арендодателя»
</h3>
<p>Введите наименование организации, индивидуального предпринимателя или частного лица, у которого вы взяли в аренду данное транспортное средство.
</p>
<p>Например:</p>
<ol>
  <li>Грайворонский СК-1, ООО</li>
  <li>Белэнергосбыт, ОАО</li>
  <li>ИП Иванов И.И.</li>
  <li>Петров П.П., главный механик</li>
</ol>
<h3>5.	Колонка «Подгруппа»</h3>
<p>Выберите необходимое значение из раскрывающегося списка.
  При возникновении сомнений, к какой подгруппе относиться данное ТС, обращайтесь к специалистам Транспортного управления.
</p>
<p>Для примера:</p>
<ol>
  <li>Легковые автомобили с бортовыми кузовами и фургонами,
    за исключением ВИС-ов, относятся к подгруппе «Грузопассажирские»;
  </li>
  <li>ВИС-ы, ТРЭКОЛ-э и им подобные транспортные средства относятся
    к подгруппе «Спецтранспорт»;
  </li>
  <li>УАЗ-ы «Буханки» имеющие пассажирский и грузовой отсек относятся
    к подгруппе «Грузопассажирские»;
  </li>
  <li>УАЗ-ы «Пикапы» относятся к подгруппе «Грузопассажирские»;
  </li>
  <li>Все навесное и прицепное сельскохозяйственное и коммунальное оборудование относится к подгруппе «С/х Оборудование»;
  </li>
  <li>К подгруппе «Прочие» относятся только транспортные средства социальных проектов: гольфкары, аттракционы, квадроциклы, хаусбот
    и т.п.
  </li>
</ol>
<h3>6.	Колонка «Группа»</h3>
<p>Заполнение происходит автоматически, после внесения записи в колонку «Подгруппа».
</p>
<h3>7.	Колонка «Идентификационный номер (VIN)»
</h3>
<p>Скопируйте без каких-либо изменений данный номер из Паспорта транспортного средства (ПТС) или Свидетельства о регистрации транспортного средства (СТС).
</p>
<h3>8.	Колонка «Год изготовления»</h3>
<p>Скопируйте без каких-либо изменений данную информацию из ПТС или СТС. Вносить в ячейку нужно только 4 цифры года выпуска подряд!
</p>
<div class="example">
  <div class="example-bad">
    <p>НЕЛЬЗЯ!</p>
    <p>2017 г.</p>
  </div>
  <div class="example-good">
    <p>НУЖНО!</p>
    <p style="text-align: right">2017</p>

  </div>
</div>
