<h2>II. Лист «Принадлежность».</h2>
<ol>
  <li><a  (click)="scrollToElement('head1')" >1.	Колонка «№»</a></li>
  <li><a (click)="scrollToElement('head2')">2.	Колонка «№ в 2022 г.</a></li>
  <li><a (click)="scrollToElement('head3')">3.	Колонка «Наименование транспортного средства</a></li>
  <li><a (click)="scrollToElement('head4')">4.	Колонка «Марка, модель ТС по техпаспорту»</a></li>
  <li><a (click)="scrollToElement('head5')">5.	Колонка «Для спецтехники: модель шасси (базы)»</a></li>
  <li><a (click)="scrollToElement('head6')">6.	Колонка «Гос. номер»</a></li>
  <li><a (click)="scrollToElement('head7')">7.	Колонка «Инвентарный номер»</a></li>
  <li><a (click)="scrollToElement('head8')">8.	Колонка «Тип ТС»</a></li>
  <li><a (click)="scrollToElement('head9')">9.	Колонка «Должность руководителя (специалиста) или основной вид перевозок (работ)»</a></li>
  <li><a (click)="scrollToElement('head10')">10.	 «Наименование юридического лица, предоставляющего Форму УТС»</a></li>
  <li><a (click)="scrollToElement('head11')">11.	Колонка «Группа предприятий»</a></li>
  <li><a (click)="scrollToElement('head12')">12.	Колонка «Закреплен за автобазой (отделением, участком и т.п.)»</a></li>

</ol>
<section id="head1">
<h3>1.	Колонка «№»</h3>
<p>Данная колонка будет заполняться автоматически по мере добавления новых данных в Колонку «Наименование транспортного средства». Если автоматическое заполнение не будет работать, вводите порядковый номер записи в виде числа. После введенного числа знак точки «.» или пробел « »
  не ставится.
</p>
</section>
<h3 id="head2">2.	Колонка «№ в 2022 г.»</h3>
<div class="danger">
  <p>Данная колонка содержит техническую информацию и вносить в неё какие-либо изменения недопустимо.
  </p>
</div>
<h3 id="head3">3.	Колонка «Наименование транспортного средства»</h3>
<p>Вводится общеупотребительное наименование ТС:</p>
<ol>
  <li>Для отечественных марок ТС - ЗАГЛАВНЫМИ буквами русского алфавита;</li>
  <li>Для иностранных марок ТС (в том числе, производимых в РФ) - ЗАГЛАВНЫМИ буквами английского алфавита;</li>
</ol>
<p>
  При этом, перед наименованием тракторов, комбайнов, спецтехники, сельскохозяйственного и коммунального оборудования, добавляется соответствующее пояснение.
</p>
<p>Пример заполнения:</p>
<ol>
  <li>ВАЗ 2114</li>
  <li>RENAULT LOGAN</li>
  <li>VOLVO FH 4х2</li>
  <li>Трактор JOHN DEERE 8245R</li>
  <li>Автокран</li>
  <li>Борона дисковая VERSATILE</li>
</ol>
<h3 id="head4">4.	Колонка «Марка, модель ТС по техпаспорту»</h3>
<p>Копируется без каких-либо изменений соответствующая запись из Паспорта транспортного средства (ПТС), Паспорта самоходной машины (ПСМ) или Заводского паспорта оборудования.
</p>
<div class="img"><img src="assets/column4-example.png" ></div>
<h3 id="head5">5.	Колонка «Для спецтехники: модель шасси (базы)»</h3>
<p>Заполняется только для спецтехники на шасси (на базе) автомобиля или трактора, а в остальных случаях оставляется не заполненной.
</p>
<p>Пример заполнения:</p>
<ol>
  <li>ВАЗ 2114</li>
  <li>КАМАЗ-65115</li>
  <li>VOLVO FM 4X2</li>
  <li>Беларус 1221.1</li>
</ol>
<h3 id="head6">6.	Колонка «Гос. номер»</h3>
<p>Копируется без каких-либо изменений соответствующая запись из Свидетельства о регистрации транспортного средства (СТС). Используются только ЗАГЛАВНЫЕ буквы русского алфавита. Пробелы и тире между буквами и цифрами не ставятся. Идентификатор государственной принадлежности «RUS» не добавляется.
</p>
<p>Пример заполнения:</p>
<ol>
  <li>Для автомобилей: А000АА31</li>
  <li>Для прицепов и полуприцепов: АА000031</li>
  <li>Для тракторов: 31АА0000</li>
</ol>
<h3 id="head7">7.	Колонка «Инвентарный номер»</h3>
<p>Копируется без каких-либо изменений соответствующая запись из Журнала учета основных средств. При этом запрещается вносить в колонку записи типа «Инв. №» и т.п.
</p>
<div class="example">
  <div class="example-bad">
    <p style="text-align: center">Нельзя</p>
    <p style="text-align: center" >Инв. № 000003549</p>
  </div>
  <div class="example-good">
    <p style="text-align: center">Нужно</p>
    <p style="text-align: center">000003549</p>
  </div>
</div>
<p>Настройки колонки «Инвентарный номер» позволяют вносить записи, начинающиеся с одного или нескольких нолей. В случае сбоев, необходимо кликнуть по ячейке <b>правой</b> кнопкой мышки, выбрать «Формат ячеек»,
  на вкладке «Число» выбрать числовой формат «Текстовый» и кликнуть
  на «ОК».
</p>
<h3 id="head8">8.	Колонка «Тип ТС»</h3>
<p>Копируется без каких-либо изменений соответствующая запись из Паспорта транспортного средства (ПТС) или паспорта на изделие.
</p>
<div class="img"><img src="assets/ts-type-params.png" ></div>
<h3 id="head9">9.	Колонка «Должность руководителя (специалиста) или основной вид перевозок (работ)»
</h3>
<p>
  Указывается за кем из руководителей или специалистов закреплено данное ТС или какой именно вид работ выполняется на Вашем предприятии
  с помощью данного транспортного средства.
</p>
<p>Например:</p>
<ol>
  <li>Генеральный директор</li>
  <li>Механик участка № 3</li>
  <li>Перевозка комбикорма</li>
  <li>Перевозка сотрудников предприятия</li>
  <li>Внесение ЖОУ</li>
</ol>
<p>Если транспортное средство используется одинаково часто на нескольких видах работ, то допускаются записи, типа:
</p>
<ol>
  <li>Перевозка грузов;</li>
  <li>Грузоподъемные работы;</li>
  <li>Уборка зерновых и технических культур;</li>
</ol>
<h3 id="head10">10.	 «Наименование юридического лица, предоставляющего Форму УТС»</h3>
<p>Кликнуть по ячейке I:5 (9:5) левой кнопкой мышки. Активировать, как показано на рисунке, раскрывающийся список и выбрать наименование Вашего предприятия.
</p>
<div class="img"><img src="assets/column10-example.png" ></div>
<p>В следующих строках наименование Вашего предприятия будет появляться автоматически, по мере заполнения колонки «Наименование транспортного средства»
</p>
<p>
  Наименование Вашего предприятия необходимо указывать в ячейке I:5 (9:5)
  в любом их следующих случаев:
</p>
<ol>
  <li>Если оно собственник данного транспортного средства и использует его самостоятельно;
  </li>
  <li>Если оно собственник данного транспортного средства и передало его
    в аренду или в безвозмездное использование;
  </li>
  <li>Если оно использует данное транспортное средство по договору аренды или лизинга;
  </li>
</ol>
<h3 id="head11">11.	Колонка «Группа предприятий»</h3>
<p>Заполнение происходит автоматически, после внесения записи в колонку «Наименование юридического лица, предоставляющего Форму УТС».
</p>
<h3 id="head12">12.	Колонка «Закреплен за автобазой (отделением, участком и т.п.)»</h3>
<p>Укажите, принятое на Вашем предприятии, наименование автобазы (отделения, участка и т.п.) на котором хранится и(или) обслуживается данное транспортное средство.
</p>
<p>Если все транспортные средства хранятся и(или) обслуживаются в одном месте, то данную колонку можно не заполнять.
</p>


