<h2>Копирование данных в Форму УТС из других источников: </h2>
<p>Копирование данных в Форму УТС из других источников допускается, но при этом нужно соблюдать ряд рекомендаций:
</p>
<ol>
  <li>
    выбирать левую-верхнюю ячейку для вставки данных нужно ПРАВОЙ кнопкой мыши.
  </li>
  <li>
    В открывшемся меню необходимо найти «Параметры вставки»
    и кликнуть по значку «Папка с цифрами 123». При этом
    в Форму УТС будут скопированы только значения данных и не будет нарушено форматирование самой Формы;
  </li>
  <div class="img"><img src="assets/params-paste.png" ></div>
  <li>Если в открывшемся меню не будет «Папки с цифрами 123», то кликаем по значку «Папка с пятью синими полосками» - «Использовать конечное форматирование»:
  </li>
  <div class="img"><img src="assets/params-paste2.png"></div>
  <li>
    после вставки массива данных в Форму УТС, необходимо выделить часть данных содержащую Гос.номера и очисть её от пробелов и тире. Затем выделить часть данных содержащую числовую информацию и очисть её от пробелов. Для этого, после выделения соответствующей части данных, нужно:
  </li>
  <ol class="nested">
    <li>
      1. нажать сочетание клавиш Ctrl+Р (русская буква «Р»);
    </li>
    <li>
      2. ввести в поле «Найти:» один пробел;
    </li>
    <li>
      3. поле «Заменить на:» оставить пустым;
    </li>
    <li>
      4. кликнуть по «Заменить все».
    </li>
  </ol>
  <li>
    В случае с Гос.номерами, повторить данную операцию для символа «тире».
  </li>
  <div class="img"><img src="assets/car-numbers-params.png" ></div>

</ol>
