<div class="sidebar">
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/']">Общие сведения</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/data-copying']">Копирование данных в Форму УТС из других источников</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/first']">I.	Лист «Для подписания»</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/second']">II. Лист «Принадлежность»</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/third']">III. Лист «Аренда»</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/forth']">IV. Лист «Двигатель»</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/fifth']">V. Лист «Пробег»</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/sixth']">VI. Лист «Топливо»</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/seventh']">VII. Лист «Затраты (часть 1)»</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/eight']">VIII. Лист «Затраты (часть 2)»</a></li>
  </ul>
</div>
