.sidebar{
  width: 40vw;
  background-color: #D1EAF3;
  height: 100%;

  }
.sidebar ul{
  list-style-type: none;

}
.sidebar li{
  padding: 5px 0px;
  font-family: 'Playfair Display', serif;
  margin-bottom: .9rem;

  @media (max-width: 760px) {
    font-size: 12px

  }



}
.sidebar a{
  color: #45549F;
  text-decoration: none;

}

 .active a{
  font-weight: bold;
  color: #000000;
  cursor: default;
}
