.sidebar{
  width: 30vw;
  background-color: #d1ecf1;
  height: 100%;




  }
.sidebar ul{
  list-style-type: none;

}
.sidebar li{
  padding: 5px 1px 5px 15px;
  font-family: 'Roboto', sans-serif;
  word-spacing: 2px;
  margin-bottom: .9rem;


  @media (max-width: 760px) {
    font-size: 12px;
    padding: 1px 1px 1px 12px;


  }



}
.sidebar a{
  color: #45549F;
  text-decoration: none;

}

 .active a{
  font-weight: bold;
  color: #000000;
  cursor: default;
}

 .closing-sign{
   text-align: right ;
   margin-right: 4px;
   font-weight: bold;
   color: #45549F;
 }
