.sidebar{
  width: 20vw;
  background-color: #d1ecf1;
  height: 100%;
  transition: width 0.5s ease-in-out;
  @media (max-width: 400px) {
    width: 40vw;

  }
  }
.sidebar ul{
  list-style-type: none;

}
.sidebar li{
  padding: 5px 1px 5px 15px;
  font-family: 'Roboto', sans-serif;
  word-spacing: 2px;
  margin-bottom: .9rem;


  @media (max-width: 760px) {
    font-size: 12px;
    padding: 1px 1px 1px 12px;


  }



}
.sidebar a{
  color: #45549F;
  text-decoration: none;

}
.sidebar li:hover{
  border-left: 2px solid rebeccapurple;
  background: #bee5eb;
}

 .active a{
  font-weight: bold;
  color: #000000;
  cursor: default;
}

.closing-icon {
  text-align: right;
  padding: 3px;

}
.closing-icon :hover{
  background: #bee5eb;

}
.sidebar-closed{
  width: 0;
  overflow: hidden;
}









