<h2>V. Лист «Пробег»</h2>
<h3>1.	Колонки: «№», «Марка, модель ТС по техпаспорту», «Гос. Номер» и «Инвентарный номер»
</h3>
<p>Информация в эти колонки автоматически скопируется из предыдущего листа
</p>
<h3>2.	Колонка «Пробег (км) / наработка (моточас) на 31.12.22 г.»
</h3>
<p>Введите суммарное значение пробега (наработки) с момента выхода транспортного средства с заводского конвейера до 31.12.2022 г.
</p>
<div class="attention">
  <p>В случае, если транспортное средство было приобретено или взято
    в аренду в текущем 2023 г., введите суммарное значение пробега (наработки) с момента выхода транспортного средства с заводского конвейера до даты начала эксплуатации его вашим предприятием.
  </p>
  <p>В случае, если у транспортного средства в течение эксплуатации производились замены одометра (счетчика моточасов), показания всех старых и новых приборов суммируются.
  </p>
</div>
<h3>3.	Колонки: «Пробег (км) / наработка (моточас) январь 2023» — «Пробег (км) / наработка (моточас) декабрь 2023»
</h3>
<p>Введите значения пробегов или наработки в течение соответствующих месяцев 2023 г.
</p>
<div class="danger">
  <p>Введение данных нарастающим итогом с начала 2023 г. категорически запрещено!
  </p>
</div>
<h3>4.	Колонка «Итого за 2023 год».</h3>
<p>Данные заполнятся автоматически.</p>
<h3>5.	Колонка «План по пробегу (наработке) на 2023 г.»</h3>
<p>Укажите, если на Вашем предприятии утверждены соответствующие плановые значения. Например:
</p>
<div style="text-align: center; font-weight: bold;">
<p>Для пробегов:	 674500</p>
<p>Для наработки: 300,5</p>
</div>
<h3>6.	Колонка «Остаточная стоимость (руб.)»</h3>
<p>Укажите значение остаточной стоимости собственных транспортных средств на конец отчетного месяца. Например:
</p>
<div style="text-align: center; font-weight: bold;">
  <p>3564287,54</p>
  <p>564782,13</p>
  <p>0,00</p>
</div>
<div class="attention">
  <p>В случае, если транспортное средство арендуется (в том числе
    по лизингу), оставляйте соответствующее поле незаполненным.
  </p>
</div>
