<h2>Общие рекомендации</h2>
<div>
  <p>В Форму УТС заносятся данные о всех самоходных и прицепных транспортных средствах, сельхозоборудовании, оборудовании для перекачки и внесения ЖОУ и коммунальном оборудовании, состоявших в отчетном периоде на бухгалтерском учете, как основное средство или как малоценное имущество. Если транспортное средство или оборудование
    не эксплуатируется (например, временно снято с учета в ГИБДД, предназначено для продажи или утилизации и т.п.), то информация о нем также заносится в Форму УТС. При этом в колонке «Примечания» на листе «Затраты (часть 2)» делается запись типа «Предназначено для продажи
    с площадки реализации» или «Подлежит утилизации после ДТП».
  </p>
  <div class="attention">
    <p>Суммы всех затрат заносятся в Форму УТС за 2023 год без учета НДС!</p>
  </div>
  <p>
    Данные вносятся только за отчетный месяц!
  </p>
  <div class="attention">
    <p>Основание для внесения данных в Форму УТС за отчетный месяц:</p>
      <ol>
        <li>1. Для ГСМ, запасных частей, шин и материалов – списание на затраты в отчетном месяце.</li>
        <li>2. Услуги, в том числе по ТО и ремонтам – согласно Актам выполненных работ.</li>
        <li>3. ОСАГО, КАСКО и дополнительные страховки – ежеквартально или ежемесячно по датам признания расходов в бухгалтерском учете.</li>
        <li>4. Прочие расходы – по датам признания расходов в бухгалтерском учете.</li>
      </ol>

  </div>

  <div class="danger">
    <p>Внесение данных нарастающим итогом с начала 2023 г. недопустимо!
    </p>
  </div>

  <p>
    При заполнении Формы УТС нельзя менять форматирование ячеек и высоту строк. Допустимо изменение ширины столбцов, но только в сторону
    её увеличения.
  </p>
  <p>
    Данные необходимо заносить последовательно в каждую строку начиная
    с 5-ой. Пропуски строк недопустимы!
  </p>
  <p>
    Допускается использовать при заполнении Формы УТС встроенные фильтры, закрепление областей и скрытие столбцов и строк. При этом, перед отправкой Формы УТС в Транспортное управление, необходимо отключить все фильтры и отменить закрепление областей, скрытие столбцов и строк.
  </p>
  <p>
    Если у какого-либо транспортного средства нет данных, например,
    о «Разрешенной максимальной массе», то оставляйте соответствующую ячейку незаполненной. Писать: «нет данных», «не применяется», «отсутствует» и тому подобное категорически запрещено.
  </p>
  <p>
    В случае, когда у транспортного средства в отчетном периоде не было пробега, расхода топлива или какого-то вида затрат, то соответствующие ячейки также необходимо оставлять незаполненными. Вводить значение «0» допускается только в колонку «Остаточная стоимость» на листе «Пробег» в случае, если остаточная стоимость данного ТС действительно равна нулю. Для арендуемых транспортных, в том числе на условиях лизинга, «Остаточная стоимость»
    не указывается – соответствующая ячейка оставляется незаполненной.
  </p>
  <p>
    Особенно внимательны будьте в том случае, если Вы случайно ввели любые данные в ячейку, которую необходимо оставить незаполненной. Для полной очистки ячейки обязательно проделайте следующие действия:
  </p>
  <ol>
    <li>
      выйдите из редактирования этой ячейки, нажав «Enter»
    </li>
    <li>
      снова выделите эту ячейку с помощью левой кнопки мышки;
    </li>
    <li>
      нажмите последовательно друг за другом кнопки «Delete» и «Enter».
    </li>
  </ol>
  <p>
    Данные действия необходимо выполнять даже в том случае, если Вы, находясь в такой ячейке, случайно нажали лишь на «Пробел», и Вам кажется, что при переходе к редактированию следующих ячеек, она осталась «незаполненной».
  </p>
  <p>
    Использование клавиши «Пробел» делает невозможным правильное вычисление в программе Excel в следующих случаях:
  </p>
  <ol>
    <li>
      запись в ячейке начинается с одного или нескольких «Пробелов» (одним из признаков такой ошибочной записи является выравнивание числа
      в ячейке по левому краю);
    </li>
    <div class="example">
     <div class="example-bad">
       <p >Нельзя</p>
       <p class="table-cell" style="text-align: left; padding-left: 10px" >14235,97</p>
     </div>
      <div class="example-good">
        <p >Нужно</p>
        <p class="table-cell" style="text-align: right">14235,97</p>
      </div>
    </div>
    <li>
      при записи чисел от 1000 (Одной тысячи) и более используются «Пробелы» для разделения разрядов;
    </li>
    <div class="example">
      <div class="example-bad">
        <p >Нельзя</p>
        <p class="table-cell" style="text-align: left">14 235,97</p>
      </div>
      <div class="example-good">
        <p >Нужно</p>
        <p class="table-cell" style="text-align: right">14235,97</p>
      </div>
    </div>
  </ol>
  <p>
    Категорически запрещается использовать для разделения целой и дробной части чисел символ точки «.». В Excel для этих целей необходимо использовать только символ запятой «,»!!!
  </p>
  <div class="example">
    <div class="example-bad">
      <p >Нельзя</p>
      <p class="table-cell" style="text-align: left" >14235.97</p>
    </div>
    <div class="example-good">
      <p >Нужно</p>
      <p class="table-cell" style="text-align: right">14235,97</p>
    </div>
  </div>
  <p>
    При записи числовой информации запрещено добавлять вслед за числом единицы измерения! Даже в том случае, когда речь идет о годе выпуска транспортного средства. Внимательно смотрите на заголовки ячеек и вводите числовые значения именно в тех единицах измерения, которые в них указаны!
  </p>
  <br>
  <h3>Строка "СКЛАД"</h3>
  <p>Бывают случаи, когда купленные запасные части и материалы временно хранятся на складах или в мастерских. Так же на складах или в мастерских могут храниться отремонтированные узлы и агрегаты транспортных средств. Например: КПП, карданные валы, стартеры, генераторы и т.п. Для того чтобы отразить приходные операции по поступлению таких запасных частей
    и материалов в Форме УТС предусмотрена строка с наименованием «СКЛАД». Часть ячеек в созданной строке заполнятся автоматически. Вам нужно занести в эту строку суммарные затраты по всем складам и мастерским. Для этого на листе «Затраты (часть1)» заполните соответствующие ячейки
    в колонках: «Запчасти» и «Шины». Для отремонтированных узлов и агрегатов, которые будут временно храниться на складе, дополнительно заполните ячейку в колонке «Услуги по ремонту и ТО».
  </p>
  <h3>Строка "ТОПЛИВО"</h3>
  <p>
    Для учета затрат на заправку вспомогательного оборудования (переносные мотопомпы, бензопилы, триммеры, газонокосилки и т.п.) в Форме УТС предусмотрена строка с наименованием «ТОПЛИВО».
    Часть ячеек в созданной строке заполнятся автоматически. Вам нужно занести в эту строку суммарные затраты по всем видам израсходованных на заправку вспомогательного оборудования горюче-смазочных материалов. Для этого
    на листе «Топливо» заполните соответствующие ячейки в колонках:
    «ДТ сумма», «Бензин 92 сумма», «Бензин 95 сумма», «Масла и технические жидкости сумма».
    Затраты на ремонт и ТО вспомогательного оборудования не относятся
    к транспортным расходам и в Форме УТС не отражаются!
  </p>
  <h3>
    Строки с транспортными средствами, эксплуатация которых прекращена.
  </h3>
  <p>Если транспортное средство было снято с учета в отчетном месяце, например после продажи, утилизации или завершения срока аренды, то все данные о нем заносятся в обычном порядке, кроме колонок «Дата снятия с учета»
    и «Причина снятия с учета» на листе «Затраты (часть 2)». В колонку «Дата снятия с учета» необходимо внести соответствующую дату в формате ДД.ММ.ГГГГ , а в колонке «Причина снятия с учета» выбрать
    из раскрывающегося списка соответствующую причину:
  </p>
  <ol style="color: #45A059">
    <li>Продано</li>
    <li>Списано</li>
    <li>Утилизировано</li>
    <li>Не арендуется</li>
  </ol>

  <p>
    Начиная со следующего месяца, оставляйте данные о пробегах и затратах снятого с учета транспортного средства незаполненными.
  </p>
  <div class="danger">
  <p>
    Удалять строку снятого с учета транспортного средства категорически запрещено!
  </p>
  </div>

  <h3>Строки со вновь приобретенными или арендованными ТС</h3>
  <p>Если транспортное средство было куплено, взято в лизинг или арендовано
    в отчетном месяце, то информация о нем заносится только вместо первой строки «ОБНОВЛЕНИЕ».
  </p>
  <div class="danger">
    <p>Вставлять новые строки выше уже заполненных строк или между ними категорически запрещено!</p>
  </div>
  <p>Если по Вашему предприятию есть утвержденная Программа обновления ТС, то вам необходимо самостоятельно резервировать необходимое количество строк в Форме УТС. В колонке «Наименование транспортного средства» помечайте такие строки записью: </p>
  <div class="success">
    <p>ОБНОВЛЕНИЕ</p>
  </div>
  <h3>
    Смена Гос.номера ТС
  </h3>
  <p>При смене государственного номера транспортного средства, поступайте следующим образом:
    Новый номер записывайте в начало ячейки, а старый в конец ячейки, взяв его
    в круглые скобки. Должна получиться запись следующего вида:
  </p>
  <div class="success">
    <p>В002ВВ31(А001АА31)</p>
  </div>
  <h3>Строки с оборудованием для внесения ЖОУ:</h3>
  <p>Специалисты зерновых компаний должны указывать в колонке «Должность руководителя (специалиста) или основной вид перевозок (работ)» на листе «Принадлежность» принятое на их предприятиях номерное обозначение мобильных комплексов и шланговых систем с указанием Гос.номера закрепленного трактора. Например:
  </p>
  <table>
    <tr>
      <td>ШСУ-1(31ЕТ4235)</td>
    </tr>
    <tr>
      <td>МК-3(31ЕТ4236)</td>

    </tr>
  </table>


</div>
