*{
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  word-spacing: 2px;
}

h2{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  }
div{
  margin: 5px 15px;

}
div.attention{
  background-color: #fff3cd;
  border: 2px solid #ffeeba;
  border-radius: 15px;
  color: #856404;
  font-weight: bold;
  font-size: 14px;

  ol{
    list-style-type: none;
  }

  li{
    padding: 5px 1px 5px 15px;
    margin-bottom: .5rem;
  }

}
p{
  text-indent: 10px
}
