<h2>Общие рекомендации</h2>
<div>
  <p>В Форму УТС заносятся данные о всех самоходных и прицепных транспортных средствах, сельхозоборудовании, оборудовании для перекачки и внесения ЖОУ и коммунальном оборудовании, состоявших в отчетном периоде на бухгалтерском учете, как основное средство или как малоценное имущество. Если транспортное средство или оборудование
    не эксплуатируется (например, временно снято с учета в ГИБДД, предназначено для продажи или утилизации и т.п.), то информация о нем также заносится в Форму УТС. При этом в колонке «Примечания» на листе «Затраты (часть 2)» делается запись типа «Предназначено для продажи
    с площадки реализации» или «Подлежит утилизации после ДТП».
  </p>
  <div class="attention">
    <p>Суммы всех затрат заносятся в Форму УТС за 2023 год без учета НДС!</p>
  </div>
  <p>
    Данные вносятся только за отчетный месяц!
  </p>
  <div class="attention">
    <p>Основание для внесения данных в Форму УТС за отчетный месяц:</p>
      <ol>
        <li>1. Для ГСМ, запасных частей, шин и материалов – списание на затраты в отчетном месяце.</li>
        <li>2. Услуги, в том числе по ТО и ремонтам – согласно Актам выполненных работ.</li>
        <li>3. ОСАГО, КАСКО и дополнительные страховки – ежеквартально или ежемесячно по датам признания расходов в бухгалтерском учете.</li>
        <li>4. Прочие расходы – по датам признания расходов в бухгалтерском учете.</li>
      </ol>

  </div>
</div>
