<h2>VII. Лист «Затраты (часть 1)» </h2>
<h3>
  3.	Колонки: «№», «Марка, модель ТС по техпаспорту», «Гос. Номер»
  и «Инвентарный номер».
</h3>
<p>Информация в эти колонки автоматически скопируется из предыдущего листа.
</p>
<h3>4.	Колонки: «Запчасти», «Шины», «Услуги по ремонту и ТО», «Оплата аренды», «Оплата труда водителя», «Налоги на оплату труда водителя», «Командировочные расходы», «Платон», «Автостоянки в пути»
</h3>
<p>Введите расходы на соответствующие статьи затрат за отчетный месяц 2023 г. в рублях РФ без учета НДС. Введение данных нарастающим итогом категорически запрещено.
</p>
<p>Обратите внимание, что расходы на приобретение шин выделены в отдельную колонку. Поэтому, не забывайте уменьшать общие расходы на запасные части
  на величину расходов связанных с приобретением шин.
</p>
